{% load static %}

<html>
    <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald">
            <link rel="stylesheet" type="text/css" href="{% static 'cuserauth/base.css' %}">

            <!-- jQuery library -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            
            <!-- Latest compiled JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            
            {% block script %}
            
            {% endblock %} 

    </head>
    <body class="bodycustom">
        <div class="container-full-bg header">
                     <div class="jumbotron jambo-style">
                        <div class="container-fluid">    
                                    {% block navbar %}
                                    {% endblock %}  
                        </div>
                        <div>
                            <h2 class="heading">{{ college_name }}</h2>
                            <small class="sub-text">Attendance Awareness System</small>
                        </div> 

                </div>
                <hr>    

            {% block content %}
            {% endblock %}  
        </div>    
    </body>
</html>