{% extends "base.html" %}
{% load static %}

{% block script %}
    <script type="text/javascript"  src="{% static 'cuserauth/script/login.js' %}" >
    </script>
{% endblock %}
{% block content %}
    <label for="remember"> {{ lecName }}</label>
    <table summary="no_orderDate">
    <tr>
        <th>Sl no</th>
        <th>Subject Name</th>
        <th>Class</th>
        <th>Year</th>
            {% for tab in subjectsHandled %}
                <tr><td>{{forloop.counter}}</td><td>{{ tab.subName }}</td><td>{{ tab.secName }}</td><td>{{ tab.year }}</td></tr>
            {% endfor %}
    </table>
{% endblock %} 
   