.bar{
    margin-top:5px; 
    padding: 5px;
    padding-left: 10px;
    color: white;
    border-top-right-radius: 25px;
}
.attendance{
    background-color: rgb(125, 245, 129);
}

.marks{
    background-color: rgb(148, 180, 238);
}

.active, .attendance:hover {
    background-color: rgb(59, 248, 65);
  }

.bar-content {
    text-align: center;

}

.lecturer-name-box {

    padding: 20%;

}
.lecturer-name {

    padding: 10px;
    text-align: left;
    font-size: 20px;
}


.logout-box:hover{
background-color: rgb(211, 211, 211);
}
.logout-box{
    padding: 10px;
    text-align: center;
}