.bar{
    padding: 5px;
    padding-left: 10px;
    color: white;

}
<style>/*.form-group {
  position: relative
}
.form-group input[type="password"] {
  padding-right: 30px
}*/
.form-group .glyphicon {
  top:10px;
  right: 0px;
  position:absolute;
  top:12px
}</style>

.header>hr{
    margin: 0%;
}


.navbar{
    background: #1a1a1a;
}
.attendance{
    background-color:rgb(68, 68, 68);
    /* color: #202020; */
}



.content-header{
    margin: 0%;
	height:30px;
    width: 100%;
    background: rgb(145,145,145) !important; /*changed*/
    color: black;
	text-transform: uppercase;
    padding-left: 15px;
	padding-top: 5px;
    font-weight: bold;
	font-family: Oswald, sans-serif;
	text-align: left;
    /*font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
}

.content-body{

    padding: 15px;
}

.subject-bar-wrapper{

    margin-top: 10px;
    padding-top:15px; 
}

.marks{
    background-color: rgb(148, 180, 238);
}

/* .active, .attendance:hover {
    background-color: rgb(59, 248, 65);
  } */

.bar-content {
    text-align: center;

}

.lecturer-name-box {

    padding: 10%;

}

.lecturer-name {
    color: white !important;
    text-align: center;
    margin: 0%
}




.wrapper{
    display: flex;
}

.sidebar-wrapper {
    z-index: 100;
    /* left: 220px; */
    color:rgb(245,245,245)!important; /*changed*/
    width: 20%;
    height: 100%;
    /* margin-left: -220px; */
    overflow-y: auto;
    overflow-x: hidden;
    background-color:rgb(0,0,0) !important; /*changed*/
	font-size:18px;
}

.page-content-wrapper {
    /* width: 100%; */
    background:rgb(245,245,245) !important;
    flex: 1;

    
}

.sidebar-nav {
    position: absolute;
    width: 20%;
    margin: 0;
    padding: 0;
    list-style: none;
	background-color:rgb(0,0,0)  !important; /*changed*/
	font-family: Oswald, sans-serif;
	text-transform: uppercase;
  }
  
  .sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
  }
  
  .sidebar-nav li >a {
    display: block;
    text-decoration: none;
    color: #999999;
  }
  
  .sidebar-nav li >a:hover {
    text-decoration: none;
    color: #fff;
    background: rgb(145,145,145) !important;
  }
  

  .sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
  }
hr {

  width: 100%;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  /*background-color:rgb(242, 195, 0) !important;*/
}  
  
  .sidebar-nav>.sidebar-brand {
    /* height: 65px; */
    line-height: 60px;

  }
  
  .sidebar-nav >.sidebar-brand > hr{

    margin: 0%;
  } 
  .sidebar-nav>.sidebar-brand>a {
    color: #999999;
    align-content: center;
    padding-top:5px; 
    font-size: 30px;
     

  }
  
  .sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
  }
  

  .logout-box:hover{
    /*background-color: black;*/
	color: white;
	text-decoration:underline;
}
   
    

  .logout-box{
        display: inline-block;
		/*padding-left: 50px;
        padding-right:100px; 
        border-color: rgb(199, 199, 199);
        border-style:solid;
        border-width: thin;
        margin-left: 50px;
        line-height: 2.0;
		text-align: center;
		background-color: rgb(242, 195, 0) !important;*/
		padding-left: 100px;
        padding-right:100px;
		font-family:Cardo, serif;
		color: rgb(242, 195, 0) !important;
		text-transform:uppercase;
}

    
.sidebar-selected-item{
    color: rgb(0,0,0)!important;  /*changed*/
    background-color:rgb(242,242,242)!important; /*changed*/

    
  }

.sidebar-selected-item>active:after{
	 background-color: :rgb(242, 195, 0)!important; 
}


.mark-btn{
    background: rgb(250, 146, 26);
    color: #fff;
}